/*! ng component: SMALL BUSINESS GRADE */

bs-tooltip-container.grade-tooltip > .tooltip-inner {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  max-width: 380px;
}

.ztt-small-business-grade {
  .small-grade {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}
