<div class="ztt-container px-0" id="ztt-cfa-landing-page">
  <div class="py-5 col-12 col-lg-8 mx-auto text-center">
    <h1 class="font-weight-bold title">{{'ABOUT_CFA_LANDING.TOP_PARAGRAPH_TITLE' | translate}}</h1>
    <p>
      {{'ABOUT_CFA_LANDING.TOP_PARAGRAPH_TEXT' | translate}}
    </p>
    <a class="btn btn-primary my-3" [routerLink]="cybLink" [skipLocationChange]="true">{{'ABOUT_CFA_LANDING.CONTINUE' | translate}}</a>
  </div>
  <div class="bg-white py-5">
     <ztt-cfa-features></ztt-cfa-features>
  </div>
</div>
