{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["extend", "if", "include", "mixin"]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "ignoreAtRules": ["extend", "include"]
      }
    ]
  }
}
