/*! ng component: DELEGATED MODE */

.ztt-delegated_mode_container {
  @include var(background-color, yellow);
  min-height: 115px;

  .row {
    padding-top: 35px;
    text-align: center;

    .fa-exclamation-triangle {
      color: #fff;
      font-size: 40px;
    }

    p.ztt-delegated-mode-text {
      color: gray('900');
    }
  }
}
