<div class="row w-100 mt-5 justify-content-center mx-auto">
  <div class="col-12 col-lg-6 text-center">
    <img class="d-md-inline-block img-fluid" src="{{'INSIGHTS.CFA_FEATURES.ASSETS.LAPTOP' | translate }}"
      alt="{{ 'INSIGHTS.CFA_FEATURES.ASSETS.LAPTOP_ALT' | translate }}">
  </div>
  <div class="col-12 col-lg-6 px-5 px-lg-0 my-5 my-lg-auto " id="cash-flow-features">
    <div class="d-flex mb-2">
      <div class="img-wrapper">
        <div class="border border-accent rounded-circle">
          <img class="cfa-icon p-2" src="/assets/insights/cash-flow-icon.svg" alt="dollar sign icon">
        </div>
      </div>
      <div class="pl-2">
        <p class="font-weight-bold mb-0">
          {{'INSIGHTS.CFA_FEATURES.VIEW_YOUR_FINANCES' | translate}}</p>
        <p>
          {{'INSIGHTS.CFA_FEATURES.VIEW_YOUR_FINANCES_DESCRIPTION' | translate}}
        </p>
      </div>
    </div>
    <div class="d-flex mb-2">
      <div class="img-wrapper">
        <div class="border border-accent rounded-circle">
          <img class="cfa-icon p-2" src="/assets/insights/goals-icon.svg" alt="goals icon">
        </div>
      </div>
      <div class="pl-2">
        <p class="font-weight-bold mb-0">{{'INSIGHTS.CFA_FEATURES.GOAL_SETTING' | translate}}</p>
        <p>
          {{'INSIGHTS.CFA_FEATURES.GOAL_SETTING_DESCRIPTION' | translate}}
        </p>
      </div>
    </div>
    <div class="d-flex mb-2">
      <div class="img-wrapper">
        <div class="border border-accent rounded-circle">
          <img class="cfa-icon p-2" src="/assets/insights/dollar-sign-icon.svg" alt="dollar sign icon">
        </div>
      </div>
      <div class="pl-2">
        <p class="font-weight-bold mb-0">
          {{'INSIGHTS.CFA_FEATURES.CREDIT_POWERED_FLEXIBILITY' | translate}}</p>
        <p>
          {{'INSIGHTS.CFA_FEATURES.CREDIT_POWERED_FLEXIBILITY_DESCRIPTION' | translate}}
        </p>
      </div>
    </div>
  </div>
</div>