<div class="ztt-container" id="ztt-generic-error-page">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="card">
        <div class="dialogue-icon"><i class="fas fa-exclamation-circle text-warning"></i></div>
        <div class="card-body text-center">
          <h4 class="card-title">{{'GENERIC_ERROR.TITLE' | translate}}</h4>
          <p class="card-text text-muted my-3">{{ customDescription | translate }}</p>

          <p class="card-text text-muted my-3">
            <strong>{{'GENERIC_ERROR.LINE_1' | translate }}</strong>
          </p>

          <p class="card-text text-muted mb-3 small">
            <small>{{'GENERIC_ERROR.LINE_2' | translate }}</small>
          </p>
        </div><!--.card-body -->
      </div><!--.card -->
    </div><!--.col-12-->
  </div><!--.row-->
</div><!--#ztt-generic-error-page-->
