/*! ng component: OFFER */

bs-tooltip-container.offer-tooltip > .tooltip-inner {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  max-width: 380px;
}

// Note: [Graham] make .ztt-offer dynamic with @HostBinding.
.ztt-offer {
  .offer-info {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }

  .offer-cta {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
