/*! RESPONSIVE.SCSS */

@include media-breakpoint-down(md) {
  #ztt-header.navbar .navbar-collapse {
    margin-left: -$navbar-padding-x;
    margin-right: -$navbar-padding-x;

    .navbar-nav {
      .nav-link {
        padding-left: $navbar-padding-x;
        padding-right: $navbar-padding-x;

        &:not(.dropdown-toggle) {
          &:hover,
          &:focus,
          &:active,
          &.active {
            color: $white;
            background-color: theme-color('accent');
          }
        }//:not
      }//.nav-link
    }//.navbar-nav
  }//.navbar-collapse
} // @include media-breakpoint-down(md)

@include media-breakpoint-up(md) {
  // PROGRESS BAR
  .application-progress {
    margin-bottom: 0;
    margin-top: - map-get($spacers, 5);

    .progress-item {
      .progress-item-description {
        display: block;
        font-size: 0.75rem;
        padding-top: 4px;
        text-align: center;
        width: 100px;
      }
    }
  }

  // CARDS
  .card {
    .ztt-card-fixed-header {
      background-color: #fff;
      margin-top: -$card-spacer-x;
      padding-top: $card-spacer-x;
      position: sticky;
      top: -$card-spacer-x;
    }
  }
} // @include media-breakpoint-up(md)

@include media-breakpoint-up(lg) {
  #ztt-header.navbar .navbar-nav {
    width: 100%;

    .nav-item.nav-link {
      @include animated-hover;
    }//.nav-link
  }//.navbar-nav
} // @include media-breakpoint-up(lg)
