<div class="card" id="ztt-marketing-campaign">
  <div class="card-body">
    <h5 class="card-title text-accent font-weight-bold">{{ 'MARKETING_CAMPAIGN.TITLE' | translate }}</h5>

    <hr>

    <p>{{ 'MARKETING_CAMPAIGN.STRATEGY' | translate }}</p>

    <!-- TODO -erase- when feature added. -->
    <p class="font-weight-bold text-center text-muted p-4">
      Coming soon!
    </p>

    <!-- SOCIAL CONNECTIONS -->
    <ztt-social-connections></ztt-social-connections>

    <!-- TODO: CAMPAIGN SCHEDULING FORM COMPONENT PLACEHOLDER -->

  </div><!--.card-body-->
</div><!--.card-->
